

h1 {
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

body {
    background-image: url("images/webbg.jpg");
   }

img {
    max-width: 30%;  
    height: auto;  
    border: 4px inset brown;
}

.tab {
    overflow: hidden;
    border: 1px inset brown;
    background-image: url("images/webbg.jpg");
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    color: white;
    float: middle;
    border: 1px inset white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }